:root{
    --fc-White: hsl(0, 0%, 100%);

--fc-Stone100: hsl(30, 54%, 90%);
--fc-Stone150: hsl(30, 18%, 87%);
--fc-Stone600: hsl(30, 10%, 34%);
 --fc-Stone900: hsl(24, 5%, 18%);

--fc-Brown800: hsl(14, 45%, 36%);

--fc-rose800: hsl(332, 51%, 32%);
--fc-rose50: hsl(330, 100%, 98%);

--fw-ys:400;
--fwO-light:400;
--fwO-normal:600;
--fwO-bold:700;

--fs-body:16px;
}


*{
    margin:0px;
    /* padding:0px; */
    box-sizing: border-box;
}

body{
    background-color: var(--fc-Stone100);
    color:var(--fc-Stone600);
    font-family:'Outfit', sans-serif;
    font-size:16px;
    display:flex;
    /* flex-direction:column; */
    justify-content: center;
}

.recipe-page{
    background-color: var(--fc-White);
    padding:2rem;
    max-width: 700px;
    box-shadow: 1rem;
    margin-top: 5rem;
    margin-bottom:5rem;
    border-radius: 1rem;


}
h1{
    color:var(--fc-Stone900);
    font-family: 'Young Serif', serif;
    margin-top:1.8rem;
    font-size:2.5rem;
}
h2{
    color:var(--fc-Brown800);
    font-family:'Young Serif', serif;
    margin-top:1.3rem;
    margin-bottom:1rem;
    font-weight:var(--fw-ys);
}

span{
    font-weight:var(--fwO-bold);
}


.nutrition{
    list-style-type: none;
}

.nutrition-table{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(4, 40px);
    /* justify-items: center;
    align-items: center;
    justify-content: center; */
    padding:0px;
    /* border: 1px soli
    d red; */
}

img{
    width:630px;
    border-radius:10px;
    display:block;
    margin-inline:auto;
}

.thick{
    color:var(--fc-Brown800);
    font-weight: var(--fwO-normal);
    /* border-bottom:1px solid red; */
}
.rose-table{
    background-color:var(--fc-rose50);
    padding:1rem;
    border-radius: 10px;
    margin-top:2rem;
    margin-bottom:1.5rem;
}


.rose-table h2{
    color:var(--fc-rose800);
    font-family:'Outfit', sans-serif;
    font-weight: var(--fwO-normal);
    font-size:20px;
}


.rose-table > * {
    margin:10px;
}

.line{
    border:1px solid var(--fc-Stone600);
    opacity:0.1;
    margin-top:1.5rem;
    margin-bottom:1rem;
}

.rose-table ul li {
margin:10px;
}

.first-para, .last-para{
    margin-top:1rem;
    margin-bottom:1.5rem;
}

.item{
    margin-bottom:10px;
    line-height: 1.4;
    padding-left: 12px;
}


li::marker{
    color: var(--fc-Brown800);
    font-weight: bold;
}

.rose-table ul li::marker{
    color:var(--fc-rose800);
}


hr{
    margin-top:1.5rem;
    color:var(--fc-Stone600);
    opacity: 0.5;
}

.nutrition> li{
    padding:10px;
    padding-left: 3rem;
    border-bottom:1px solid var(--fc-Stone150);
}
/* .rosetable{ */
/* padding-left:0px; */


@media(max-width:600px){
.recipe-page{
    max-width:100vw;
    margin-top:0px;
    margin-bottom:0px;
    border-radius: 0px;
}

img{
    width:100%;
    display:block;
    margin-inline:auto;
    border-radius: 0px;
}
}
